#topbar {
	background-color: #5ebefb;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	color: white;
}
			
#mainmenu {
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
}

#bottom {
	background-color: #5ebefb;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	color: white;
}

#bottom1,
#bottom2,
#bottom3 {
	margin-top: 2%;
	margin-bottom: 2%;
}

#title {
	margin-left: 2%;
	display: inline-block;
}

#io {
	display: inline-block;
}

#title a:link,
#title a:visited,
#title a:hover, 
#io a:link,
#io a:visited,
#io a:hover {
	color: #ffffff;
	text-decoration: none;
}

#telnettooldl a:link,
#telnettooldl a:visited,
#telnettooldl a:hover {
	color: #ffffff;
}
