#topbar {
	background-color: #5ebefb;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
}
			
#mainmenu {
	background-color: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
}

#bottom {
	background-color: #5ebefb;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

#bottom1,
#bottom2,
#bottom3 {
	margin-top: 2%;
	margin-bottom: 2%;
}